.ab{
    font-family: "Nunito", sans-serif;
    
    font-weight: 700;
}
.font2{
      font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font3{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}
